<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Java Examples in a Nutshell, 3rd Edition/src/je3/ch11/gui/ShowBean.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="je3.ch11.gui.ShowBean"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-width=650&#13;&#10;-height=400&#13;&#10;javax.swing.JColorChooser&#13;&#10;dragEnabled=true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java Examples in a Nutshell, 3rd Edition"/>
</launchConfiguration>
